/*
* dqxi_styles.css
* by Andrea Hewko (radiantmemories451)
*
* Contains all of the css styling that applies to
* the DQXI skill simulator.
*/

/**************/
/*  Heading   */
/**************/
/* Contains the main content of the header */
.header_main_grid {
    flex-grow: 1;
    flex-basis: 100%;
    display: inline-grid;
  
    grid-template-areas:
		"title title title title title title title"
		"character_levels_header character_levels_header character_levels_header character_levels_header game_progress_header game_progress_header game_progress_header"
		"character_levels_Luminary character_levels_Erik character_levels_Veronica character_levels_Serena game_progress_act1_header game_progress_act2_header game_progress_act3_header"
        "character_levels_Sylvando character_levels_Jade character_levels_Rab character_levels_Eight game_progress_act1_content game_progress_act2_content game_progress_act3_content";

		/*
		"character_levels_header character_levels_header character_levels_header character_levels_header game_progress_header game_progress_header game_progress_header"
		"character_levels_Luminary character_levels_Erik character_levels_Veronica character_levels_Serena game_progress_act1_header game_progress_act2_header game_progress_act3_header"
        "character_levels_Sylvando character_levels_Jade character_levels_Rab character_levels_Eight game_progress_act1_content game_progress_act2_content game_progress_act3_content";
		*/

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3 0.3fr 0.3fr 0.3fr;
    /* border: 3px solid rgb(214,129,137); */
}

.header_main_grid > * {
    /* border: 1px solid rgb(214,129,0); */
}

.title {
	grid-area: title;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.4vh;
	font-weight: bolder;
	text-decoration: underline rgb(214,129,0) solid;
}

.character_levels_header {
    grid-area: character_levels_header;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.3vh;
	font-weight: bolder;
}

.character_levels_Luminary {
    grid-area: character_levels_Luminary;
	display: flex;
	align-items: center;
	justify-content: center;
}

.character_levels_Erik {
    grid-area: character_levels_Erik;
	display: flex;
	align-items: center;
	justify-content: center;
}

.character_levels_Veronica {
    grid-area: character_levels_Veronica;
	display: flex;
	align-items: center;
	justify-content: center;
}

.character_levels_Serena {
    grid-area: character_levels_Serena;
	display: flex;
	align-items: center;
	justify-content: center;
}

.character_levels_Sylvando {
	grid-area: character_levels_Sylvando;
	display: flex;
	align-items: center;
	justify-content: center;
}

.character_levels_Jade {
	grid-area: character_levels_Jade;
	display: flex;
	align-items: center;
	justify-content: center;
}

.character_levels_Rab {
    grid-area: character_levels_Rab;
	display: flex;
	align-items: center;
	justify-content: center;
}

.character_levels_Eight {
    grid-area: character_levels_Eight;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game_progress_header {
	grid-area: game_progress_header;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.3vh;
	font-weight: bolder;
}

.game_progress_act1_header {
	grid-area: game_progress_act1_header;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.1vh;
	font-weight: bold;
	border-bottom: 1px solid rgb(214,129,0);
}

.game_progress_act2_header {
	grid-area: game_progress_act2_header;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.1vh;
	font-weight: bold;
	text-decoration: underline rgb(214,129,0) solid;
}

.game_progress_act3_header {
	grid-area: game_progress_act3_header;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.1vh;
	font-weight: bold;
	text-decoration: underline rgb(214,129,0) solid;
}

.game_progress_act1_content {
	grid-area: game_progress_act1_content;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.7vh;
	font-weight: bold;
}

.game_progress_act2_content {
	grid-area: game_progress_act2_content;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.7vh;
	font-weight: bold;
}

.game_progress_act3_content {
	grid-area: game_progress_act3_content;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.7vh;
	font-weight: bold;
}


/* act 1 popup */
.game_progress_act1_popup {
    flex-grow: 1;
    flex-basis: 100%;
    display: inline-grid;
  
    grid-template-areas:
		"game_progress_act1_header"
		"game_progress_act1_event1"
		"game_progress_act1_event2"
		"game_progress_act1_event3"
        "game_progress_act1_event4";

		
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
    /* border: 3px solid rgb(214,129,137); */
}

.game_progress_act1_event1 {
    grid-area: game_progress_act1_event1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game_progress_act1_event2 {
    grid-area: game_progress_act1_event2;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game_progress_act1_event3 {
    grid-area: game_progress_act1_event3;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game_progress_act1_event4 {
    grid-area: game_progress_act1_event4;
	display: flex;
	align-items: center;
	justify-content: center;
}


/* act 2 popup */
.game_progress_act2_popup {
    flex-grow: 1;
    flex-basis: 100%;
    display: inline-grid;
  
    grid-template-areas:
		"game_progress_act2_header game_progress_act2_header game_progress_act2_header"
		"game_progress_act2_event1 game_progress_act2_event2 game_progress_act2_event3"
		"game_progress_act2_event4 game_progress_act2_event5 game_progress_act2_event6"
		"game_progress_act2_event7 game_progress_act2_event8 game_progress_act2_event9"
        "game_progress_act2_event10 game_progress_act2_event11 game_progress_act2_event12";

		
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3 0.3fr 0.3fr 0.3fr;
    /* border: 3px solid rgb(214,129,137); */
}


.game_progress_act2_event1 {
    grid-area: game_progress_act2_event1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game_progress_act2_event2 {
    grid-area: game_progress_act2_event2;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game_progress_act2_event3 {
    grid-area: game_progress_act2_event3;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game_progress_act2_event4 {
    grid-area: game_progress_act2_event4;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game_progress_act2_event5 {
    grid-area: game_progress_act2_event5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game_progress_act2_event6 {
    grid-area: game_progress_act2_event6;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game_progress_act2_event7 {
    grid-area: game_progress_act2_event7;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game_progress_act2_event8 {
    grid-area: game_progress_act2_event8;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game_progress_act2_event9 {
    grid-area: game_progress_act2_event9;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game_progress_act2_event10 {
    grid-area: game_progress_act2_event10;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game_progress_act2_event11 {
    grid-area: game_progress_act2_event11;
	display: flex;
	align-items: center;
	justify-content: center;
}


/* act 3 popup */
.game_progress_act3_popup {
    flex-grow: 1;
    flex-basis: 100%;
    display: inline-grid;
  
    grid-template-areas:
		"game_progress_act3_header game_progress_act3_header game_progress_act3_header"
		"game_progress_act3_event1 game_progress_act3_event2 game_progress_act3_event3"
		"game_progress_act3_event4 game_progress_act3_event5 game_progress_act3_event6"
		"game_progress_act3_event7 game_progress_act3_event8 game_progress_act3_event9";

		
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.3fr 0.3fr 0.3fr;
    /* border: 3px solid rgb(214,129,137); */
}

.game_progress_act3_event1 {
    grid-area: game_progress_act3_event1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game_progress_act3_event2 {
    grid-area: game_progress_act3_event2;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game_progress_act3_event3 {
    grid-area: game_progress_act3_event3;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game_progress_act3_event4 {
    grid-area: game_progress_act3_event4;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game_progress_act3_event5 {
    grid-area: game_progress_act3_event5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game_progress_act3_event6 {
    grid-area: game_progress_act3_event6;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game_progress_act3_event7 {
    grid-area: game_progress_act3_event7;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game_progress_act3_event8 {
    grid-area: game_progress_act3_event8;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game_progress_act3_event9 {
    grid-area: game_progress_act3_event9;
	display: flex;
	align-items: center;
	justify-content: center;
}


/* */
.game_progress_button {
width:30%;
height: 2.5vh;
border-radius:3px;
background-color:rgb(44, 105, 155);
color: #F2B14D;
font-family: Helvetica, Arial;
font-size: 1.5vh;
cursor:pointer;
}

/**************/
/*  Nav Tabs  */
/**************/
/* Applies the formatting for the nav_tabs that is specific to DQXI */

/*
.tabrow:before {
	position: absolute;
	content: " ";
	width: 100%;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #AAA;
	z-index: 1;
}

.tabrow li {
		    border: 1px solid #AAA;
		    background: #D1D1D1;
		    background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
		    background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
		    background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
		    background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
		    background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
		    display: inline-block;
		    position: relative;
		    z-index: 0;
		    border-top-left-radius: 6px;
		    border-top-right-radius: 6px;
		    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
		    text-shadow: 0 1px #FFF;
		    margin: 0 -5px;
		    padding: 0 20px;
}

.tabrow li:before,
.tabrow li:after {
	border: 1px solid #AAA;
	position: absolute;
	bottom: -1px;
	width: 5px;
	height: 5px;
	content: " ";
}

.tabrow li:before {
	left: -6px;
	border-bottom-right-radius: 6px;
	border-width: 0 1px 1px 0;
	box-shadow: 2px 2px 0 #D1D1D1;
}
.tabrow li:after {
	right: -6px;
	border-bottom-left-radius: 6px;
	border-width: 0 0 1px 1px;
	box-shadow: -2px 2px 0 #D1D1D1;
}
*/

/**************/
/*    Main    */
/**************/
/* Grid containing the main content of the body */
.main_grid {
    /* grid fallback (if grid not supported) */

    /* if supported */
    flex-grow: 1;
    flex-basis: 100%;
    display: inline-grid;
  
    grid-template-areas:
        "skill_tree spell_chart"
        "skill_tree ability_chart"
		"skill_tree pep_power_chart"
		"skill_tree stat_boost_chart";
  
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.main_grid > * {
    border: 1px solid rgb(214,129,0);
}

.skill_tree {
	grid-area: skill_tree;
	display: flex;
}

.spell_chart {
	grid-area: spell_chart;
	display: flex;
}

.ability_chart {
	grid-area: ability_chart;
	display: flex;
}

.pep_power_chart {
	grid-area: pep_power_chart;
	display: flex;
}

.stat_boost_chart {
	grid-area: stat_boost_chart;
	display: flex;
}